.your-wishlist {
    padding-top: 10vmin;
}

.shared {
    padding-bottom: 3em;
    cursor: default;
}

.click {
    padding-bottom: 3em;
    cursor: pointer;
}

.share {
    font-weight: bold;
    color: white;
    padding: 1px 4px;
    background: linear-gradient(to bottom, #dd2476, #ff512f) !important;
}

.list-group {
    margin-bottom: 8rem !important;
}

.btn-danger {
    background-color: rgba(247, 30, 30, 0.801);
    border-color: rgba(247, 30, 30, 0.801);
}

.btn-danger:hover {
    background-color: rgba(253, 82, 70, 0.712);
    border-color: rgba(255, 61, 47, 0.712);
}

.spinner {
    padding: 0 0 10rem 0;
}