<app-header></app-header>
<section class="section-2 container-fluid p-0">
  <div class="purchase text-center">
    <h1>Add Whatever Product You Want <br> To Your Wishlist</h1>
    <div class="container">
      <div class="row mb-5 on-mobile">
        <div class="col-md-6 text-left">
          <h2 class="category">Category</h2>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">small-appliances</a>
              <a class="dropdown-item" href="#">dishwashers</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <h2 class="category">Sort</h2>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sorting
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Price</a>
              <a class="dropdown-item" href="#">Title</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img *ngIf="products.length == 0" class="spinner" src="../../assets/spinner.svg">
    <div *ngIf="products.length > 0" class="cards">
      <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="card shadow" *ngFor="let product of products">
          <img src="{{ product.brand }}" class="card-img-top brand mt-1">
          <img src="{{ product.img }}" class="card-img-top product">
          <img src="{{ product.warranty }}" class="card-img-top warranty mb-3">
          <div class="card-body">
            <div class="title">
              <h5 class="card-title">{{ product.name }}</h5>
            </div>
            <ul class="list-group list-group-flush text-muted">
              <li class="list-group-item">{{ product.info_list[0] }}</li>
              <li class="list-group-item">{{ product.info_list[1] }}</li>
              <li class="list-group-item">{{ product.info_list[2] }}</li>
              <li class="list-group-item">{{ product.info_list[3] }}</li>
            </ul>
            <div class="pricing">
              <h1>{{ product.price }}</h1>
              <a *ngIf="!product.onWishlist" style="cursor: pointer" class="btn btn-danger px-5 py-2 mb-5 wishlist" (click)="addToWishlist(product)">Add to wishlist</a>
              <a *ngIf="product.onWishlist" style="cursor: pointer" class="btn btn-danger px-5 py-2 mb-5 wishlist btn-delete" (click)="deleteFromWishlist(product)">Delete from wishlist</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>